.sample-popup {
  .popup-title {
    height: 116rpx;
    text-align: center;
    line-height: 116rpx;
    font-size: 36rpx;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: bold;
    color: #02120f;
    border-bottom: 2rpx solid #e7e8e7;
    position: sticky;
    top: 0;
    z-index: 9;
  }
  .popup-content {
    display: flex;
    justify-content: space-between;
    height: 840rpx;
    overflow: hidden;
    padding-bottom: 100rpx;
    .lev-1 {
      width: 34%;
      height: 100%;
      background-color: rgba(245, 246, 248, 1);
      overflow: auto;
      .lev1-content {
        min-height: 72rpx;
        background-color: rgba(245, 246, 248, 1);
        text-align: left;
        line-height: 72rpx;
        font-size: 32rpx;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: #02120f;
        padding-left: 34rpx;
        box-sizing: border-box;
      }
      .check-content {
        background-color: #fff;
        color: #00bda5;
      }
      .default-check {
        background-color: #fff;
        color: #00bda5;
      }
    }
    .lev-2 {
      width: 65%;
      padding-top: 20rpx;
      overflow: auto;
      .lev2-content {
        margin-bottom: 46rpx;
        line-height: 90rpx;
        padding-left: 26rpx;
        padding-right: 30rpx;
        box-sizing: border-box;

        .van-checkbox {
          display: flex;
          width: 100%;
          justify-content: space-between;
          ::v-deep .van-checkbox__icon {
            order: 2;
            margin-left: 31rpx;
          }
          ::v-deep .van-checkbox__label {
            font-size: 32rpx;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: #666666;
            .lev2-label {
              color: #00bda5;
            }
          }
        }
      }
    }
  }
  .popup-botm {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 10rpx 24rpx;
    z-index: 9;
    padding-bottom: calc(18rpx + constant(safe-area-inset-bottom));
    padding-bottom: calc(18rpx + env(safe-area-inset-bottom));
    .btom-clear {
      padding-left: 30rpx;
      padding-right: 40rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      image {
        width: 44rpx;
        height: 44rpx;
      }
      .btom-reset {
        font-size: 22rpx;
        font-family: PingFangSC-Regular, PingFang SC;
        margin-top: 9rpx;
        color: #212121;
      }
    }
    .popup-btom-btn {
      width: 83%;
      height: 80rpx;
      font-size: 32rpx;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: bold !important;
      color: #ffffff;
      line-height: 80rpx;
      text-align: center;
      border-radius: 40rpx;
      background: rgb(0, 189, 165);
      border-color: rgb(0, 189, 165);
    }
  }
}
